*
!.gitignore
!alacritty
!alacritty/**
!bat
!bat/**
!dots.md
!git
!git/**
!glow
!glow/**
!lvim
!lvim/lua
!lvim/lua/adam
!lvim/lua/adam/**
!lvim/config.lua
!nvim
!nvim/**
nvim/lazy-lock.json
!README.md
!script
!script/**
!zellij
!zellij/**
!zsh
!zsh/**
